body{
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 100%;
}
div.container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto; /*center the div*/
    padding-top: 30px;
    padding-bottom: 30px;
}
